<h3>Advertising</h3>
<div class="ad row">
	<div class="pic col-md-4">
		<a href="<%= ads[0].site_url %>"><img src="<%= ads[0].image_url %>" width="100%"/></a>
	</div>
	<div class="info col-md-8">
		<h4><%= ads[0].title %></h4>
		<p><%= ads[0].description %></p>
	</div>
</div> 
<div class="ad row">
	<div class="pic col-md-4">
		<a href="<%= ads[1].site_url %>"><img src="<%= ads[1].image_url %>" width="100%" /></a>
	</div>
	<div class="info col-md-8">
		<h4><%= ads[1].title %></h4>
		<p><%= ads[1].description %></p>
	</div>
</div> 
